* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.heading, .banner h1, .footer h3 {
  color: #5CA4A9;
  font-size: 3rem;
  background-color: #ED6A5A;
  text-align: center; }

body {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: trans #000;
  font-family: sans-serif; }

.nav {
  background-color: #afd3d5; }
  .nav ul li {
    list-style: none; }
    .nav ul li a {
      text-decoration: none;
      font-size: 1rem;
      color: #999999; }
      .nav ul li a:hover {
        filter: brightness(0.9); }

.banner h1 {
  font-size: 3rem;
  text-align: center;
  color: #F4F1BB; }

.banner p {
  font-size: 1.125rem; }

.footer h3 {
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
  color: #F4F1BB;
  transition: color 0.3s, background-color 0.3s; }
  .footer h3:hover {
    color: #ED6A5A;
    background-color: #5CA4A9; }
