* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #333 !important;
  color: #fff;
  font-family: sans-serif; }

.nav {
  background-color: #00bcd4; }
  .nav ul li {
    list-style: none; }
    .nav ul li a {
      text-decoration: none;
      font-size: 1rem;
      color: #fff; }
      .nav ul li a:hover {
        filter: brightness(0.9); }

.banner h1 {
  margin: 2rem 0;
  font-size: 3rem;
  text-align: center;
  color: #f0f0f0; }

.footer h3 {
  margin: 2rem 0;
  font-size: 2rem;
  text-align: center;
  color: #f0f0f0;
  transition: color 0.3s, background-color 0.3s; }
  .footer h3:hover {
    color: green;
    background-color: #00bcd4; }
