// Global variables:
$color-primary: #00bcd4;
$color-secondary: gray;
$color-tertiary: green;

$font-lg: 3rem;
$font-md: 2rem;
$font-sm: 1rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin headingStyles($fontSize: 1.5rem) {
  font-size: $fontSize;
  text-align: center;
  color: #f0f0f0;
}

@mixin transition($param...) {
  transition: $param;
}

body {
  background-color: #333 !important;
  color: #fff;
  font-family: sans-serif;
}

.nav {
  background-color: $color-primary;

  ul {
    li {
      list-style: none;
      
      a {
        $color-secondary: #fff; // this is a local variable 
        text-decoration: none;
        font-size: $font-sm;
        color: $color-secondary;

        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
}

.banner {
  h1 {
    margin: 2rem 0;
    @include headingStyles($font-lg);
  }
}

.footer {
  h3 {
    margin: 2rem 0;
    @include headingStyles($font-md);
    @include transition(color 0.3s, background-color 0.3s);

    &:hover {
      color: $color-tertiary;
      background-color: $color-primary;
    }
  }
}
