// Global variables:
$color-primary: #5CA4A9;
$color-secondary: #F4F1BB;
$color-tertiary: #ED6A5A;

$font-lg: 3rem;
$font-md: 2rem;
$font-sm: 1rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin headingStyles($fontSize: 1.5rem) {
  font-size: $fontSize;
  text-align: center;
  color: $color-secondary;
}

@mixin transition($param...) {
  transition: $param;
}

@function rem($value) {
  @return ($value / 16) + rem;
}

.heading {
  color: $color-primary;
  font-size: $font-lg;
  background-color: $color-tertiary;
  text-align: center;
}

body {
  background-color: transparentize(#000000, 0.9) !important;
  color: trans#000;
  font-family: sans-serif;
}

.nav {
  background-color: lighten($color-primary, 25%);

  ul {
    li {
      list-style: none;
      
      a {
        $color-secondary: #fff; // this is a local variable 
        text-decoration: none;
        font-size: $font-sm;
        color: darken($color-secondary, 40%);

        &:hover {
          filter: brightness(.9);
        }
      }
    }
  }
}

.banner {
  h1 {
    @extend .heading;
    @include headingStyles($font-lg);
  }

  p {
    font-size: rem(18);
  }
}

.footer {
  h3 {
    @extend .heading;
    margin: 2rem 0;
    @include headingStyles($font-md);
    @include transition(color 0.3s, background-color 0.3s);

    &:hover {
      color: $color-tertiary;
      background-color: $color-primary;
    }
  }
}
